_Store

*.class
/bin/
/errori/
/metadata/
/evaluation/
/models/
/splitted/
/splittedGeneralized/
/splittedGeneralizedAndStopped/
/harvestedFact/
/prefiltered/


# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath
*.jar
/stanford-corenlp-*/*
ThreeNearEntities.tsv
yago_schema.tsv
yago_taxonomy.tsv
yago_types.tsv
uniqEntitiesFromYAGOTypes.zip